{% extends "base.html.twig" %}

{% block body %}
	<h1>Ville :
		{{ville.nom}}</h1>

	<div class="mb-2">
		<p>N°{{ville.id}}
			-
			<b>{{ville.nom}}</b>
			({{ville.codepostal}})
										| INSEE:
			{{ville.codeinsee}}
			-
			{{ville.population2010}}
			<small>habitants en 2010</small>
		</p>
	</div>
{% endblock %}
